.checkout-container {
  position: fixed;
  inset-inline: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffffe9;
  padding: 1rem 0;
}

.subtotal-text {
  font-weight: bold;
}
.checkout-btn {
  padding: 10px 35px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border: 2px solid transparent;
  transition: all 0.15s ease-in-out;

  background-color: #da4701;
  color: #fff;
  border-color: #da4701;
  white-space: nowrap;
}

.checkout-btn:hover {
  background-color: transparent;
  color: #da4701;
}
